.background-image{
    background-image: url('../../Assets/company_team.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    background: linear-gradient(rgba(131, 90, 90, 0.9), rgba(0, 0, 0, 0.1)), url('../../Assets/company_team.jpg') center/cover no-repeat;
}

.topsection{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-logo {
    text-align: center;
    margin-top: 20px; /* Adjust the spacing as needed */
  }
  
  .centered-logo img {
    max-width: 100%; /* Make sure the image doesn't overflow its container */
    height: 170px; /* Maintain the image's aspect ratio */
  }
  
  .motto {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: beige;
    margin-top: 20px; /* Adjust the spacing as needed */
  }
  
  .topsection-button {
    text-align: center;
    display: block;
    margin: 50px auto; /* Center the button horizontally with some top margin */
    margin-top: 75px;
    padding: 10px 20px; /* Add padding for better touch interaction on mobile */
    font-size: 28px;
    width: 170px;
    background-color: #00B997;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
    color: beige;
    transition: all 220ms ease-in-out;
    cursor: pointer;
    font-weight: bold;

  }

  .topsection-button:hover{
    background-color: transparent;
    border: 2px solid #00B997;
  }

  .topsection-button a{
    text-decoration: none;
    color: beige;
  }


  