.tab-style{
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.nav-link-style-emp{
    color: #333;
    font: bold;

    &:hover{
        color: #333;
    }

    &:active{
        color: #333;
    }
}