.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: Set the height to 100% of the viewport height */
  }

  .signin-page {
    /*margin: 50px auto;*/
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
